@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --pink: #f1356d;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.navbar h1 {
  color: var(--pink);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  margin-left: 16px;
  padding: 6px;
}

.navbar a:hover {
  color: var(--pink);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  color: var(--pink);
  margin-bottom: 8px;
  font-size: 20px;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details */
.blog-details h2 {
  font-size: 20px;
  color: var(--pink);
  margin-bottom: 20px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background-color: var(--pink);
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* blog post */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--pink);
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  display: block;
  outline: none;
  text-decoration: none;
}

.create button {
  background-color: var(--pink);
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
}

.not-found h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--pink);
}

.not-found p {
  margin: 30px 0;
}

.not-found a {
  background-color: var(--pink);
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
